body {
	background-color: #FFEB3B;
	font-family: Open Sans, sans-serif;
}
html{
	height: 100%;
}
#content {
	text-align: center;
	padding: 15%;
}
h1 {
	font-weight: 700;
	font-size: 5em; 
}

hr {
	width: 400px;
	border-top: 1px solid #f8f8f8;
	border-bottom: 1px solid rgba(0,0,0,0.2);
}

#footer {
	text-align: center;
	padding: auto;
	font-size: 10px;
	color: #555;
}

.footer {
	color: red;
}